*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }


html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image:url("../source/fondo1.jpg");
    background-repeat: no-repeat;
    


}
main img{
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px 20px 30px 20px;
}

div{
    text-align: center;
}

nav{
    text-align: center;
    margin: 10px 0px;
    background-color: rgb(0, 0, 0) ;
    padding: 2em 
    
}

main{
    
    margin: 10;
    padding: 10;
    background-color: rgb(28, 156, 192);
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 20px 20px 20px  rgb(0, 15, 15);
    height: 631px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 10px 20px 30px 20px;;
}

nav ul li a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding:7px 10px;
    border-radius: 10px;
}

nav ul li a:hover{
    background-color:#043c3c;
}

section{
    margin: 30px 10px 100px 20px;;
}

header{
    text-align: center;
}

h1{
    text-shadow:20px 20px 20px  rgb(0, 35, 35);
    margin: 10px 20px 30px 20px;
    font-family: 'Times New Roman', Times, serif;


}
footer{
    text-align: center;
    margin: 99px auto auto;;



}

img{
    width: 150px;
    height: 150px;
}

.imgFloat1{

    margin: 20px 24px 50px 10px;

    
}
.imgFloat2{

    margin: 20px 24px 50px 10px;

    
}
.imgFloat3{

    margin: 20px 24px 50px 10px;

    
}
.imgFloat4{

    margin: 20px 24px 50px 10px;
}
*/


.imgfondo{
    background-size: contain;


}


.clear{
    margin: 10px 10px 10px;
}


.clear2 {
    display: flex;
    justify-content: center;
}
  
.p_almbum, .s_almbum, .t_almbum, .c_almbum {
    text-align: center;
    margin: 10px;
    float: left;
}
  
.imgFloat1, .imgFloat2, .imgFloat3, .imgFloat4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}